.quote-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;   
}

#quote-box {
  display: flex;
  justify-content: center;
}

#text {
  text-align: justify;
  margin-bottom: 0.83rem;
}