.quote-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;   
}

#quote-box,
.quote-btn-container {
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#text ,
#author {
  margin-bottom: 0.83rem;
}

#text {
  text-align: center;
}

.author-text{
  font-weight: bold;
}

.quote-generator-heading{
  text-decoration: underline;
}

.tweet-btn-container {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888;
}

.tweet-btn-container a{
  color:#000;
  text-decoration: none;
  font-size: 13px;
}

#App {
  background-color: #ADD8E6;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #999;
}