.quote-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;   
}

#quote-box,
.quote-btn-container {
  display: flex;
  justify-content: center;
}

#text ,
#author {
  margin-bottom: 0.83rem;
}

#text {
  text-align: center;
}